{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Vendor{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <!--<article class="post"> -->
     <div class="card" style=" width: 25rem;"> <!-- added class="card"-->
          <div class="card-body"> <!-- added class="card-body"-->
          <header>
            <div>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h1 class="card-title mb-0" >{{ post['title'] }}</h1> <!-- added class="card-title"-->
                {% if g.user['id'] == post['author_id'] %}
              <a class="btn btn-outline-primary" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a><!--class="action"-->
            {% endif %}
            </div>
              <div class="card-subtitle mb-2 text-muted about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>  <!-- card-subtitle mb-2 text-muted"-->
            </div>

          </header>
          <p class="card-text body">{{ post['body'] }}</p> <!-- added class="card-text"-->
          </div>
        </div>
    <!-- </article> -->
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
